.box-grid ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: disc;
  margin-left: 2rem;
  column-gap: 3rem;
}

.box-grid li {
  break-inside: avoid;
  padding: 0.3rem 0;
}

.logo-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
}
.header-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
  background-color: #1f2d5a;
  color: white;
  padding: 2rem 1rem;
  text-align: left;
}
